.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  padding: 30px;
  box-sizing: border-box;
  text-align: start;
}

.footer-one {
  flex: 1;
  padding: 10px;
}

.footer-logo {
  display: flex;
  gap: 5px;
}

.footer-logo img {
  width: 20px;
}

.footer-two {
  flex: 1;
  padding: 10px;
}

.footer-three {
  flex: 1;
  padding: 10px;
}

.footer-four {
  flex: 1;
  padding: 10px;
  font-size: 15px;
}

@media(min-width:425px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10%;
  }
}

@media (min-width: 1048px) {
  .footer-four {
    display: flex;
    align-items: flex-end;
  }
}