.header_main {
  width: 100%;
  height: 80px;
  background-color: #f2f2f2;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  gap: 30px;
  position: fixed;
  z-index: 5;
}

.container_logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container_logo img {
  height: 30px;
}

.container_logo p {
  font-size: clamp(20px, 3vw, 30px);
  font-weight: bold;
}

.links {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.links li {
  list-style: none;
  font-weight: 700;
}

.link-black {
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}

.link-black a {
  color: white;
}

/* Button Open Mobile */

.menu div {
  width: 35px;
  height: 7px;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  margin: 2px;
}

/* Menu mobile */

.close-menu-mobile div {
  width: 10px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
}

.close-menu-mobile .left {
  top: 30px;
  right: 35px;
  transform: rotate(45deg);
}

.close-menu-mobile .right {
  top: 30px;
  right: 34px;
  transform: rotate(-45deg)
}
.shadow {
  width: 100%;
  height: 100%;
  background-color: #3131317a;
  position: absolute;
  z-index: 6;
  top: 0;
  right: 0;
}

.menu-navbar-mobile {
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: #242424;
  padding: 30px;
  z-index: 7;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  transition: 1s;
}

.links-mobile {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
}

.links-mobile li {
  list-style: none;
  font-size: 25px;
}

.links-mobile li a {
  color: white;
}

.links-mobile .link-black {
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}

.links-mobile .link-black a {
  color: white;
}

.divisor-menu-mobile {
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.toLeft {
  transform: translateX(100%);
}

.prevent-scroll {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

@media(min-width: 425px) {
  .header_main {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10%;
  }
}

@media(min-width: 576px) {
  .links {
    display: flex;
  }
  .menu,
  .menu div {
    display: none;
  }
  .menu-navbar-mobile {
    display: none;
  }
  .container_logo img {
    width: 40px;
  }
  .container_logo p {
    font-size: 24px;
  }
}