.header_main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 0 30px 10px;
}

.container_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container_logo img {
  height: 30px;
}

.container_logo p {
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.links li {
  list-style: none;
  font-size: 13px;
}

.link-black {
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}

.link-black a {
  color: white;
}