.header_main {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 10px 30px;
  gap: 30px;
}

.container_logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container_logo img {
  height: 30px;
}

.container_logo p {
  font-size: clamp(20px, 3vw, 30px);
  font-weight: bold;
}

.links {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.links li {
  list-style: none;
  font-weight: 700;
}

.link-black {
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}

.link-black a {
  color: white;
}

/* Button Open Mobile */

.menu div {
  width: 35px;
  height: 7px;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  margin: 2px;
}

/* Menu mobile */

.close-menu-mobile div {
  width: 10px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  border-radius: 5px;
}

.close-menu-mobile .left {
  top: 30px;
  right: 35px;
  transform: rotate(45deg);
}

.close-menu-mobile .right {
  top: 30px;
  right: 34px;
  transform: rotate(-45deg)
}

.menu-navbar-mobile {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.links-mobile {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.links-mobile li {
  list-style: none;
  font-size: 35px;
}

.links-mobile .link-black {
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}

.links-mobile .link-black a {
  color: white;
}

.menu-navbar-mobile li {
  list-style: none;
  font-size: 13px;
}

.toLeft {
  transform: translateX(-107%);
}

.prevent-scroll {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

@media(min-width: 425px) {
  .header_main {
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding: 10px 10%;
  }
}

@media(min-width: 576px) {
  .links {
    display: flex;
  }
  .menu,
  .menu div {
    display: none;
  }
  .menu-navbar-mobile {
    display: none;
  }
  .container_logo img {
    width: 40px;
  }
  .container_logo p {
    font-size: 24px;
  }
}