html {
  scroll-behavior: smooth;
}

#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.header_main {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  padding: 0 30px;
}
.container_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container_logo img {
  height: 40px;
}
.links {
  display: flex;
  align-items: center;
  gap: 72px;
}

li {
  list-style: none;
}

.link-black {
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}
.link-black a {
  color: white;
}

/* ------------------------------------------------- */

.firts-container {
  background-color: black;
  color: white;
  display: flex;
  max-height: 682px;
}
.sub_container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}
.description-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: calc(50% - 250px);
  left: calc(50% - 227px);
}
.text_one {
  background-color: white;
  color: black;
  width: auto;
  font-size: 19px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  padding: 9px 18px;
  border-radius: 5px;
  margin: 0 0 20px
}
.text_two {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.text_three {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.text_four {
  font-size: 31px;
  font-weight: 600;
  margin: 0 0 20px;
}
.text_five {
  font-size: 21px;
  font-weight: 600;
  margin: 0;
}
.mini-description-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 30px;
}
.mini-description-container p{
  margin: 0;
}
.text_six {
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 6px;
  margin: 0;
}
.text_seven {
  font-size: 70px;
  font-weight: bold;
  position: relative;
  top: 17px;
  margin: 0;
}
.pseudo-button {
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
}
.pseudo-button a {
  font-weight: bold;
}
.big-image {
  flex: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-image img{
  height: 70%;
}

/* ----------------------------------------------------------------------- */

.about-service {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.about-service p {
  margin: 0;
}
.about-service h2 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
}

.about-one {
  display: flex;
  height: 130px;
  width: 880px;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  margin: 36px;
}

.sub-about-one {
  display: flex;
  flex-direction: column;
}
.sub-about-one h3{
  font-size: 32px;
  margin: 0 0 10px;
}
.sub-domain {
  f
