.firts-container {
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 100px;
}

.sub_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.text_one {
  background-color: var(--color-secondary);
  color: var(--color-text);
  font-size: 15px;
  font-weight: 600;
  padding: 9px 18px;
  border-radius: 5px;
  margin: 0 0 20px
}

.text_two {
  font-size: clamp(34px, 10vw, 64px);
  font-weight: bold;
  margin: 0;
}

.text_three {
  font-size: clamp(22px,6.5vw, 42px);
  font-weight: bold;
  margin: 0;
}

.text_four {
  font-size: clamp(17px,5vw, 32px);
  font-weight: 500;
  margin: 0 0 10px;
}

.text_five {
  font-size: clamp(12px,3.5vw, 20px);
  font-weight: 600;
  margin: 0 0 10px;
}

.mini-description-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-top: -15px;
  margin-bottom: 20px;
}

.text_six {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -2px;
  line-height: 1;
}

.text_seven {
  font-size: clamp(56px,15vw, 96px);
  font-weight: bold;
  position: relative;
  top: 6px;
  line-height: 1;
}

.pseudo-button {
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.pseudo-button a {
  font-weight: bold;
  color: var(--color-text);
}

.big-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-image img {
  width: 100%;
  max-width: 600px;
}

/* ----------------------------------------------------------------------- */

#sobre-nosotros {
  scroll-margin-top: 80px;
}

.about-service {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.about-service p {
  margin: 0;
}

.about-service h2 {
  font-size: clamp(28px, 7vw, 48px);
  font-weight: 900;
  margin-top: 20px;
  line-height: 1;
}

.about-one {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  padding: 20px 0;
}

.sub-about-one {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.sub-about-one h3 {
  font-size: 22px;
  font-weight: 900;
  margin: 0 0 10px;
}

.sub-domain {
  font-size: 26px;
}

.about-two {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  padding: 20px 0 36px;
}

.about-two h3 {
  font-size: 23px;
  font-weight: 900;
  margin: 0 0 10px;
  line-height: 30px;
}

/* ------------------------------------------------------------------------ */

.plan-details {
  width: 100%;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  padding: 0 0 30px;
}

.plan-details h1 {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 45px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 0 30px;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  min-width: 260px;
  border: 1px solid var(--color-primary-hover);
  border-radius: 30px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.detail-p-one {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0;
  text-align: start;
}

.detail-p-two {
  font-size: 30px;
  font-weight: bold;
  margin: -10px 0 5px;
  text-align: start;
}

.plan-price {
  display: flex;
  align-items: end;
  height: 100px;
  gap: 5px;
}

.plan-sun {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  position: relative;
}

.plan-mount {
  font-size: 96px;
  font-weight: bold;
  margin-bottom: -26px;
}

.select-plan {
  height: 51px;
  padding: 4px;
}

.list-details-plan-container {
  padding-top: 20px;
  width: 100%;
}

.detail-text {
  text-align: start;
}

.detail-text li {
  list-style: disc;
  position: relative;
  left: 17px;
  font-size: 14px;
}

/* ------------------------------------------------------------------------ */

.our-sides {
  width: 100%;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 80px 30px;
}

.our-sides-title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 50px;
}

.sides-cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.side-example-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 7px 8px 28px #00000040;
  border-radius: 31px;
  padding: 0 0 25px;
}

.side-example-card img {
  width: 100%;
  border-radius: 31px 31px 0 0;
}

.side-example-p {
  font-size: 17px;
  font-weight: bold;
  text-align: start;
  padding: 0 9%;
  margin: 10px 0 0;
}

.side-example-link {
  font-size: 14px;
  text-align: end;
  padding: 0 9%;
  margin: 10px 0 0;
}



/* ------------------------------------------------------------------------ */

@media( min-width: 425px) {
  .firts-container {
    padding: 100px 10%;
  }
  .text_one {
    font-size: 20px;
  }
  .text_six {
    font-size: 32px;
  }
  .sub-about-one h3 {
    font-size: 32px;
  }
  .sub-domain {
    font-size: 32px;
  }

  .about-service {
    padding: 30px 10%;
  }
  .about-two h3 {
    font-size: 32px;
  }
  .details-container {
    padding: 0 10%;
  }
  .detail-p-one {
    font-size: 24px;
  }
  .detail-p-two {
    font-size: 36px;
  }
  .detail-text li {
    font-size: 16px;
  }
  .our-sides {
    padding: 30px 10% 80px;
  }
  .our-sides-title {
    font-size: 48px;
  }
  .side-example-p {
    font-size: 24px;
  }
  .side-example-link {
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .about-one {
    padding: 36px 10% 20px;
    gap: 15px;
  }
  .about-two {
    padding: 36px 10% 20px;
  }
}

@media (min-width: 768px) {
  .plan-details h1 {
    font-size: 64px;
  }
  .side-example-p {
    font-size: 32px;
  }
  .sides-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1260px;
  }
}

@media (min-width: 1048px) {
  .firts-container {
    flex-direction: row;
  }
  .sub_container {
    justify-content: flex-start;
  }
  .about-one {
    flex-direction: row;
    align-items: flex-end;
  }
  .details-container {
    flex-direction: row;
  }
}