#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.header_main {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  padding: 0 30px;
}
.container_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container_logo img {
  height: 40px;
}
.links {
  display: flex;
  align-items: center;
  gap: 72px;
}

li {
  list-style: none;
}

.link-black {
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}
.link-black a {
  color: white;
}

/* ------------------------------------------------- */

.firts-container {
  background-color: black;
  color: white;
  display: flex;
  max-height: 682px;
}
.sub_container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}
.description-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: calc(50% - 250px);
  left: calc(50% - 227px);
}
.text_one {
  background-color: white;
  color: black;
  width: auto;
  font-size: 19px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  padding: 9px 18px;
  border-radius: 5px;
  margin: 0 0 20px
}
.text_two {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.text_three {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.text_four {
  font-size: 31px;
  font-weight: 600;
  margin: 0 0 20px;
}
.text_five {
  font-size: 21px;
  font-weight: 600;
  margin: 0;
}
.mini-description-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 30px;
}
.mini-description-container p{
  margin: 0;
}
.text_six {
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 6px;
  margin: 0;
}
.text_seven {
  font-size: 70px;
  font-weight: bold;
  position: relative;
  top: 17px;
  margin: 0;
}
.pseudo-button {
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
}
.pseudo-button a {
  font-weight: bold;
}
.big-image {
  flex: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-image img{
  height: 70%;
}

/* ----------------------------------------------------------------------- */

.about-service {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.about-service p {
  margin: 0;
}
.about-service h2 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
}

.about-one {
  display: flex;
  height: 130px;
  width: 880px;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  margin: 36px;
}

.sub-about-one {
  display: flex;
  flex-direction: column;
}
.sub-about-one h3{
  font-size: 32px;
  margin: 0 0 10px;
}
.sub-domain {
  font-size: 32px;
}

.about-two {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 880px;
  text-align: start;
}
.about-two h3{
  font-size: 32px;
  margin: 0 0 10px;
}

/* ------------------------------------------------------------------------ */

.plan-details {
  padding-top: 30px;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.plan-details h1{
  font-size: 64px;
  font-weight: bold;
}

.details-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 780px;
  border: 1px solid #c7c7c7;
  border-radius: 30px;
  padding: 40px 32px;
  box-sizing: border-box;
}

.detail-p-one {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 5px;
  text-align: start;
}
.detail-p-two {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 5px;
  text-align: start;
}

.plan-price {
  display: flex;
  gap: 5px;
}
.plan-sun {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  position: relative;
  top: 33px;
}
.plan-mount {
  font-size: 96px;
  font-weight: bold;
  margin: 0;
}
.select-plan {
  width: 286px;
  height: 51px;
  color: white;
  padding: 4px;
}
.detail-text {
  text-align: start;
}
.detail-text li{
  list-style: disc;
}

/* ------------------------------------------------------------------------ */

.our-sides {
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.our-sides-title {
  font-size: 48px;
  font-weight: bold;
}

.sides-cards-container {
  display: grid;
  grid-template-columns: 550px 550px;
  grid-template-rows: 500px 500px;
  gap: 50px;
}

.side-example-card {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 550px;
  box-shadow: 7px 8px 28px #00000040;
  border-radius: 31px;
}

.side-example-card img{
  height: 300px;
  width: 100%;
  border-radius: 31px;
}

.side-example-p {
  font-size: 32px;
  font-weight: bold;
  text-align: start;
  padding: 0 40px;
  margin: 35px 0 0;
}

.side-example-link {
  font-size: 20px;
  text-align: end;
  padding: 0 40px;
  margin: 20px 0 0;
}

/* ------------------------------------------------------------------------ */

.footer {
  width: 100%;
  height: 400px;
  display: flex;
  background-color: #000000;
  color: white;
  padding: 80px 80px;
  box-sizing: border-box;
  text-align: start;
}
.footer-one {
  flex: 1;
  padding: 10px;
}
.footer-logo {
  display: flex;
  gap: 5px;
}
.footer-two {
  flex: 1;
  padding: 10px;
}
.footer-three {
  flex: 1;
  padding: 10px;
}
.footer-four {
  flex: 3;
  padding: 10px;
  position: relative;
}
.ultimate-p {
  position: absolute;
  bottom: 0;
  right: 0;
}
